In [35]:
import pandas as pd

In [36]:
# import data
df = pd.read_csv('data/monthly_in_situ_co2_mlo.csv', header=57)

data description:

 The data file below contains 10 columns.  Columns 1-4 give the dates in several redundant 
 formats. Column 5 below gives monthly Mauna Loa CO2 concentrations in micro-mol CO2 per   
 mole (ppm), reported on the 2012 SIO manometric mole fraction scale.  This is the        
 standard version of the data most often sought.  The monthly values have been adjusted    
 to 24:00 hours on the 15th of each month.  Column 6 gives the same data after a seasonal  
 adjustment to remove the quasi-regular seasonal cycle.  The adjustment involves           
 subtracting from the data a 4-harmonic fit with a linear gain factor.  Column 7 is a      
 smoothed version of the data generated from a stiff cubic spline function plus 4-harmonic 
 functions with linear gain.  Column 8 is the same smoothed version with the seasonal      
 cycle removed.  Column 9 is identical to Column 5 except that the missing values from     
 Column 5 have been filled with values from Column 7.  Column 10 is identical to Column 6  
 except missing values have been filled with values from Column 8.  Missing values are     
 denoted by -99.99                                                                         
 Column 11 is the 3-digit sampling station identifier

In [37]:
df.head()

,Yr,Mn,Date,Date,CO2,seasonally,fit,seasonally,CO2,seasonally,Sta
0,,,,,,adjusted,,adjusted fit,filled,adjusted filled,NaN
1,,,Excel,,[ppm],[ppm],[ppm],[ppm],[ppm],[ppm],NaN
2,1958,01,21200,1958.0411,-99.99,-99.99,-99.99,-99.99,-99.99,-99.99,MLO
3,1958,02,21231,1958.1260,-99.99,-99.99,-99.99,-99.99,-99.99,-99.99,MLO
4,1958,03,21259,1958.2027,315.71,314.44,316.19,314.91,315.71,314.44,MLO

In [38]:
# drop all but column 1, 2, and 10
df = df.iloc[:, [0, 1, 9]]

In [39]:
df.head()

     Yr   Mn       seasonally
0             adjusted filled
1                       [ppm]
2  1958   01           -99.99
3  1958   02           -99.99
4  1958   03           314.44

In [40]:
# rename columns
df.columns = ['Year', 'Month', 'Seasonally Adjusted CO2 (Filled)']

In [41]:
df.head()

   Year Month Seasonally Adjusted CO2 (Filled)
0                              adjusted filled
1                                        [ppm]
2  1958    01                           -99.99
3  1958    02                           -99.99
4  1958    03                           314.44

In [42]:
# drop the first two rows
df = df.iloc[2:, :]

In [43]:
df.head()

   Year Month Seasonally Adjusted CO2 (Filled)
2  1958    01                           -99.99
3  1958    02                           -99.99
4  1958    03                           314.44
5  1958    04                           315.16
6  1958    05                           314.69

In [44]:
df.tail()

     Year Month Seasonally Adjusted CO2 (Filled)
789  2023    08                           -99.99
790  2023    09                           -99.99
791  2023    10                           -99.99
792  2023    11                           -99.99
793  2023    12                           -99.99

In [45]:
# export df
df.to_csv('data/CLEANED_monthly_in_situ_co2_mlo.csv', index=False)